* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(156, 122, 235);
}

h1{
    text-align: center;
    color: blanchedalmond;
    letter-spacing: 1rem;
    margin-top: 1.5rem;
}

.wrapper {
    position: absolute;
    width: 90%;
    max-width: 37em;
    background-color: rgb(101, 51, 136);
    padding: 5em 3em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 1em;
}

.controls-container {
    background-color:rgb(156, 122, 235);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
}

#start {
    font-size: 1.2em;
    padding: 1em 3em;
    background-color:rgb(97, 226, 22);
    border: none;
    outline: none;
    border-radius: 2em;
    cursor: pointer;
}

#letter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em 0.4em;
    justify-content: center;
    margin-top: 2em;
}

#letter-container button {
    background-color: #c0bcbc;
    border: 2px solid black;
    color: navy;
    font-weight: bold;
    outline: none;
    border-radius: 0.3em;
    cursor: pointer;
    height: 3em;
    width: 3em;
}

#letter-container .correct {
    background-color: green;
    color: #ffffff;
    border: 2px solid green;
}

#letter-container .incorrect {
    background-color:red;
    color: #ffffff;
    border: 2px solid red;
}

.hint-ref {
    margin-bottom: 1em;
    color: white;
}

.hint-ref span {
    font-weight: 600;
    color: white;
}

#chanceCount {
    margin: 1em 0;
    position: absolute;
    top: 0.62em;
    right: 2em;
    color: white;
}

#word {
    font-weight: 600;
    color: white;
    margin: 1em 0 2em 0;
}

#word span {
    text-transform: uppercase;
    font-weight: 400;
    color: white
}

.hide {
    display: none;
}

#message{
    font-weight: bold;
}

@keyframes shake {
    0% {transform: translateX(0);}
    10%, 90% {transform: translateX(-5px);}
    20%, 80% {transform: translateX(5px);}
    30%, 50%, 70% {transform: translateX(-5px);}
    40%, 60% {transform: translateX(5px);}
    100% {transform: translateX(0);}
}

#result{
    animation: shake 3s infinite;
}

.score{
    animation: shake 3s infinite;
}

@media screen and (max-width:412px){
    body{
        background-color: black
    }
    h1{
        letter-spacing: 0;
        margin-top: 50px
        
    }
    .wrapper{
        margin-top: 20px;
        width: 85%;
        padding: 2.5rem;
    }
    #chanceCount {
    margin: 1em 0;
    position: absolute;
    top: -0.5rem;
    right: 2em;
    color: white;
}
}

@media screen and (max-width:384px){
    body{
        background-color: black
    }
    h1{
        letter-spacing: 0;
        margin-top: 50px
        
    }
    .wrapper{
        margin-top: 20px;
        width: 85%;
        padding: 2.5rem;
    }
    #chanceCount {
    margin: 1em 0;
    position: absolute;
    top: -0.5rem;
    right: 2em;
    color: white;
}
}

@media screen and (max-width:360px){
    body{
        background-color: black
    }
    h1{
        letter-spacing: 0;
        margin-top: 50px
        
    }
    .wrapper{
        margin-top: 20px;
        width: 85%;
        padding: 2.5rem;
    }
    #chanceCount {
    margin: 1em 0;
    position: absolute;
    top: -0.5rem;
    right: 2em;
    color: white;
}
}